<div class="row">
  <div class="col-md-9">
    <table class="table table-striped">
      <tr><td>09:00-10:30</td> <td>PyAOS software stack, software installation using conda, data visualisation</td></tr>
      <tr><td>10:30-11:00</td> <td>Morning tea break</td></tr>
      <tr><td>11:00-12:30</td> <td>Functions, command line programs</td></tr>
      <tr><td>12:30-01:30</td> <td>Lunch break</td></tr>
      <tr><td>01:30-03:00</td> <td>Version control, vectorisation</td></tr>
      <tr><td>03:00-03:30</td> <td>Afternoon tea break</td></tr>
      <tr><td>03:30-04:30</td> <td>Defensive programming, data provenance, large data</td></tr>
    </table>
  </div>
</div>

<p>
The complete lesson notes can be found at <a href="https://carpentrieslab.github.io/python-aos-lesson/">https://carpentrieslab.github.io/python-aos-lesson/</a>.
</p>
